<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Sales Vinyl</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>All Sales Vinyl</h2>

        <h4>Available Records</h4>
      </div>
      <% if @albums.any? %>
        <ul class="list-group">
      	   <% @albums.each do |album| %>
           <li class="list-group-item"><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
           <% end %>
        </ul>
      <% else %>
        <p>There are currently no records to display.</p>
      <% end %>

      <form action="/albums" method="get">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <input id="search" name="search" class="form-control" type="text" value=<%= params[:search] %> >
      </div>

        <button type="submit" class="btn btn-info"><a href="/albums">Go Back</a></button>
        <button type="submit" class="btn btn-success"><a href="/albums/new">Add a new album</a></button>
      </form>

      <br /><br />

      <div class="jumbotron">
        <h2>Sold Records</h2>

        <h4>No Longer Available</h4>
      </div>
      <% if @sold_albums.any? %>
        <ul>
      	   <% @@sold_albums.each do |sold_album| %>
           <li><a href="/albums/<%= sold_album.id %>"><%= sold_album.name %></a></li>
           <% end %>
        </ul>
      <% else %>
        <p>There are currently no records to display.</p>
      <% end %>

      <form action="/albums" method="get">
      <div class="form-group">
      <input id="search" name="search" class="form-control" type="text" value=<%= params[:search] %> >
      <button type="submit" class="btn btn-primary btn-block">Search</button>
      </div>
      </form>
    </div>
  </body>
</html>
