<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Sales Vinyl</title>
    <link rel="stylesheet" href="/public/bootstrap.css" type="text/html">
  </head>
  <body>
    <div class = "container">
      <div class="jumbotron">
        <h1>All Sales Vinyl</h1>

        <h3>Available Records</h3>
      </div>
      <% if @albums.any? %>
        <ul>
      	   <% @albums.each do |album| %>
           <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
           <% end %>
        </ul>
      <% else %>
        <p>There are currently no records to display.</p>
      <% end %>
      <div>

      <form action="/albums" method="get">
        <div class="form-group">
        <button type="submit" class="btn">Search</button>
        <input id="search" name="search" class="form-control" type="text" value=<%= params[:search] %> >
        </div>
        <button type="submit" class="btn"><a href="/albums">Go Back</a></button><button type="submit" class="btn"><a href="/albums/new">Add a new album</a></button>
      </form>

      <div class="jumbotron">

        <h3>Sold Records</h3>
      </div>
      <% if @sold_albums.any? %>
        <ul>
      	   <% @@sold_albums.each do |sold_album| %>
           <li><a href="/albums/<%= sold_album.id %>"><%= sold_album.name %></a></li>
           <% end %>
        </ul>
      <% else %>
        <p>There are currently no records to display.</p>
      <% end %>
      <div>

      <form action="/albums" method="get">
      <div class="form-group">
      <button type="submit" class="btn">Search</button>
      <input id="search" name="search" class="form-control" type="text" value=<%= params[:search] %> >
      </div>
      <button type="submit" class="btn"><a href="/albums">Go Back</a></button><button type="submit" class="btn"><a href="/albums/new">Add a new album</a></button>
      </form>
    </div>
  </body>
</html>
